<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>文件上传</title>
</head>
<body>

    <div id="index">
        Hello Index.html~
    </div>

    <form action="/upload" method="post" enctype="multipart/form-data">
        <div>
            <input type="file" id="file" name="file" value="选择图片" accept="image/jpeg,image/jpg,image/png"/>
        </div>
        <div>
            <input type="submit" value="上传文件"/>
        </div>
    </form>

    <span th:text="${imgUrl}"/>
    <img th:src="${imgUrl}"/>


</body>
</html>